/* body */
	body{
		direction:rtl !important;
		margin:0px;
		padding:0pX;
	 font-family: 'Droid Arabic Kufi',sans-serif;
		
		
	}
	
/* navbar */
.navbar-fixed-top{
	z-index:99;
}

	.my-navbar {
	   font-size:18px;
	   
	   
	}

	
	.my-navbar .navbar {
		
	   font-size:18px;
	   background-color:#FFF;
	   
	}
	
		
	 .my-navbar .navbar-default .navbar-nav > li > a{
		 color:#000;
		 padding:19px;
	 }


	 .my-navbar .navbar-brand{
		 padding:20px;
		 font-size:30px;
		 padding-right:50px;
		 color:#FFF;
	 }
	 .my-navbar .navbar-brand span{
		  color:#fcc121;
	 }
	 .navbar-default .navbar-nav > li > a:hover {
		 color:#fcc121;
	 }
	 .my-navbar .navbar-default .navbar-nav >  .active > a, .navbar-default .navbar-nav > .active > a:hover{
		 background-color:transparent;
		 color:#fcc121;
	 }
	 .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
		 color:#FFF;
	 }
	 {
		 color:#fcc121;
	 }
.my-active {
	color:#fcc121 !important;
}
.mine-color{
	color:#fcc121;
}

 @media only screen and (max-width:840px){
	  .my-navbar .navbar-brand{
		  font-size:20px;
		  margin-right:-30px !important;
	  }
 }




 /* end navbar */
 /* start my-quality */
 .my-quality{
	min-height:800px;
	 padding-top:120px;
	 padding-bottom:120px;
	 
 }
 .my-quality img{
	 vertical-align:central;
	 padding-right:50px;
	 padding-bottom:20px;
 }
  .my-quality h4{
	  padding-top:30px;
	color:#fcc121;
  }
 
 /* end my-quality */
 
  /* start contuct-us  */
.contuct-us{
	padding:10px;
    background-color: #2d4052;
	color:#FFF;
		
}
.contuct-us p{
	font-size:18px;
	padding:15px;
}
.contuct-us .map-down,
.contuct-us .phone-down,
.contuct-us .envelope-down{
	cursor:pointer;
}
.contuct-us i{
	color:#4fbbe9;

}
.contuct-us .map-down:hover i,
.contuct-us .phone-down:hover i,
.contuct-us .envelope-down:hover i{
	color:#fcc121;
	transition:all ease-in-out .5s;
}
.contuct-us  input[type="text"],
 .contuct-us textarea,
 .contuct-us  input[type="email"]{
    width: 100%;
    border: solid 0.1px rgb(51,51,51);
	line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contuct-us textarea{
	height:135px;
}
.contuct-us .our-btn{
	width:150px;
	border-radius:25px;
	padding:10px;
	text-align:center;
	font-size:18px;
	margin:10px;
	color:#FFF;
	background-color:#fcc121;
	border:none;
}

/* end contuct-us  */
/* start copy-right  */
.copy-right{
	background-color: #283848;
	padding:11px;
	padding-bottom:0px;
}
.copy-right .crface,
.copy-right .cartwit,
.copy-right .cartgoog,
.copy-right .caryout,
.copy-right .carpp{
	cursor:pointer;
}
.copy-right .fa-circle{
	border:solid 1px #FFFFFF;
	border-radius:50%;
	color:#283848;
	
}
.copy-right .crface:hover .fa-circle {
	border:#515a5f solid 1px;
	color:#3b5998 !important;
	transition:all ease-in-out .5s;
}
.copy-right .cartwit:hover .fa-circle{
	border:#515a5f solid 1px;
	color:#1DA1F2 !important;
	transition:all ease-in-out .5s;
}
.copy-right .cartgoog:hover .fa-circle{
	border:#515a5f solid 1px;
	color:#DB4437 !important;
	transition:all ease-in-out .5s;
}
.copy-right .caryout:hover .fa-circle{
	border:#515a5f solid 1px;
	color:#0077B5 !important;
	transition:all ease-in-out .5s;
}
.copy-right .carpp:hover .fa-circle{
	border:#515a5f solid 1px;
	color:#cb2027;
	transition:all ease-in-out .5s;
}


/* end copy-right  */

/* start eltagzia */
.eltagzia{
	margin-top:140px;
	margin-bottom:100px;

}
.eltagzia table{
  background: #fff;
  margin-bottom: 6rem;
  width: 100%;
  border-right: 1px solid #eee;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.eltagzia tr:first-child {
  background: #fcc121;
}
.eltagzia th{
	color:#FFF;
}

/* start eltagzia */

.my-img{
	width:100%;
	
}
.my-img img{
	
	height:100%;
}


 /* start products */
 .products{
	 margin-top:50px;
	 padding:10px;
	 background-color:#303136;
	 color:#FFF;
	  position:relative;
	  min-height:700px;
	 
 }
 .products ul{
	 margin-bottom:14px;
	 
	
 }
 .products li{
	 display:inline-block;
	 color:#FFF;
	 padding:10px;
	 font-size:18px;
	 background-color:#303136;
	 min-width:100px;
	 margin:0;
	 cursor:pointer;
	
 }
 .products .product-adress p{
	font-size:36px;
 }
  .products .product-adress p i{
	 color:#fcc121;
	 
  }
  .products .div-products{
	  height:520px;
	  
  }
  .products .div-products img{
	  width:100%;
	  height:100%;
	  background-size:cover;
  }
  .products .div-products p{
	  font-size:36px;
	  font-weight:900;
  }
 .products .div-products .inside-product{
	 margin:50px;
 }
	 
 .products .div-products .inside-product button{
	 padding:10px;
	 width:150px;
	 background-color:inherit;
	 color: #FFF;
	 border:#000 1.5px solid;
	 margin-top:10px;
	 font-size:18px;
	 border-radius:2px;
	 
	 
 }
  .products .div-products .inside-product ul{
	  margin-top:20px;	
  }
   .products .div-products .inside-product li{
	  margin-top:20px;	
	  width:109px;
	  height:114px;
	 
  }
   .products .tasmen{
	 display:none;
	 transition:all ease-in-out 1s;
   }
    .products .byad{
		transition:all ease-in-out 1s;
	  
   }
      .products .tasweq{
		display:none;
	transition:all ease-in-out 1s;  
   }
      .products .alf{
		display:none;
	  transition:all ease-in-out 1s;
   }
   .products .active-products{
	  color:#fcc121;
  }
	
/* start loading  */

.loading{
   width:100%;
   height:100%;
   position:fixed;
   z-index:9999 !important;
   background-color:#FFF;
   top:0;
}
 .spinner {
  margin: 325px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fcc121;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
  background-color: #4fbbe9;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* end loading  */	 
	  
  
	 

 
 